@model FunTour.Models.TravelPackageViewModel




@Html.HiddenFor(model => model.Id_TravelPackage)

<h4>Hoteles Disponibles</h4>

<fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
    border-width: thin; border-color: Silver; width: 740px">

    <table style="width:100%">
        <tr>
            <th>ID Hotel</th>
            <th>Nombre del Hotel</th>
            <th>Descripcion</th>
            <th>Cantidad de Habitaciones Libres</th>
            <th>Precio</th>
        </tr>
        @foreach (var item in ViewBag.HotelsToShow)
        {

            <tr>
                <td>@item.Id_Hotel</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.NotReservedRooms</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>

    @if (Model.Hotel == null)
    {
        <legend><strong>Agregar Hotel al Paquete</strong></legend>

    }
    else
    {
        <a href="#">
            El hotel asociado en este momento al paquete es:
            @Model.Hotel.Name

        </a>
        <legend><strong>Cambiar Hotel Asociado al Paquete</strong></legend>
    }

    @Html.DropDownList("Hotels", null, string.Empty, new { style = "display:initial" })


</fieldset>