@model FunTour.Models.TravelPackageViewModel
<div>

<section class="col-xs-12">
    <div class="card" style="padding: 5px">
        <h5>@Html.DisplayFor(model => model.PackageName)</h5>
        <hr />
        <div class="row">
            <span>
                @Html.DisplayFor(model => model.Description)
            </span>
        </div>
        <div class="row">
            <span>
                <b>Lugar de salida: </b>
                @if (Model.FromPlace != null)

                {
                    @Model.FromPlace.Name
                }
                else
                {
                    <p>-</p>
                }
            </span>
        </div>
        <div class="row">
            <span>
                <b>Lugar de destino: </b>
                @if (Model.ToPlace != null)

                {
                    @Model.ToPlace.Name
                }
                else
                {
                    <p>-</p>
                }
            </span>
        </div>
    </div>
</section>

<section class="col-xs-12">
    <div class="card" style="padding: 5px">
        <h5>Características</h5>
        <hr />

        <div class="row">
            <span>
                <b>Salida: </b>
                @Html.DisplayFor(model => model.FromDay)
            </span>
        </div>
        <div class="row">
            <span>
                <b>Llegada: </b>
                @Html.DisplayFor(model => model.ToDay)
            </span>
        </div>
        <div class="row">
            <span>
                <b>Precio total: </b>
                ARS @Html.DisplayFor(model => model.TotalPrice)
            </span>
        </div>
    </div>
</section>

<section class="col-xs-12">
    <div class="card" style="padding: 5px">
        <div class="row">
            <span>
                <b> Disponibilidad:</b>
            </span>

            <span>
                @Html.DisplayFor(model => model.ReservationAmount)
            </span>
            @if (Model.ReservationAmount > 0)
            {
                <i class="material-icons" style="color:green">check</i>
            }
            else
            {
                <i class="material-icons" style="color:red">cross</i>
            }
        </div>
    </div>
</section>

@if (Model.FlightOrBus)
{
    <br>
    <h5>Vuelo de Ida</h5>
    if (Model.ToGoFlight != null)
    {
        <table style="width:100%">
            <tr>
                <th>ID Vuelo</th>
                <th>Fecha de Salida</th>
                <th>Fecha de Llegada</th>
                <th>Cantidad de asientos disponibles</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>@Model.ToGoFlight.Id_Flight</td>
                <td>@Model.ToGoFlight.DepartureDate</td>
                <td>@Model.ToGoFlight.ArrivedDate</td>
                <td>@Model.ToGoFlight.NotReservedSeats</td>
                <td>@Model.ToGoFlight.Price</td>
            </tr>
        </table>
    }
    else
    {
        <p>No Posee un Vuelo Asignado</p>
    }
    <br>
    <h5>Vuelo de Vuelta</h5>
    if (Model.ToBackFlight != null)
    {
        <table style="width:100%">
            <tr>
                <th>ID Vuelo</th>
                <th>Fecha de Salida</th>
                <th>Fecha de Llegada</th>
                <th>Cantidad de asientos disponibles</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>@Model.ToBackFlight.Id_Flight</td>
                <td>@Model.ToBackFlight.DepartureDate</td>
                <td>@Model.ToBackFlight.ArrivedDate</td>
                <td>@Model.ToBackFlight.NotReservedSeats</td>
                <td>@Model.ToBackFlight.Price</td>
            </tr>
        </table>
    }
    else
    {
        <p>No Posee un Vuelo Asignado</p>
    }
}

else
{
    <br>
    <h5>Viaje en Coletivo de Ida</h5>
    if (Model.ToGoBus != null)
    {
        <table style="width:100%">
            <tr>
                <th>ID Vuelo</th>
                <th>Fecha de Salida</th>
                <th>Fecha de Llegada</th>
                <th>Cantidad de asientos disponibles</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>@Model.ToGoBus.IdAPI_Bus</td>
                <td>@Model.ToGoBus.DateTimeDeparture</td>
                <td>@Model.ToGoBus.DateTimeArrival</td>
                <td>@Model.ToGoBus.NotReservedSeats</td>
                <td>@Model.ToGoBus.Price</td>
            </tr>
        </table>
    }
    else
    {
        <p>No Posee un Colectivo Asignado</p>
    }

    <br>
    <h5>Viaje en Coletivo de Vuelta</h5>
    if (Model.ToBackBus != null)
    {
        <table style="width:100%">
            <tr>
                <th>ID Vuelo</th>
                <th>Fecha de Salida</th>
                <th>Fecha de Llegada</th>
                <th>Cantidad de asientos disponibles</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>@Model.ToBackBus.IdAPI_Bus</td>
                <td>@Model.ToBackBus.DateTimeDeparture</td>
                <td>@Model.ToBackBus.DateTimeArrival</td>
                <td>@Model.ToBackBus.NotReservedSeats</td>
                <td>@Model.ToBackBus.Price</td>
            </tr>
        </table>
    }
    else
    {
        <p>No Posee un Colectivo Asignado</p>
    }
}


<br>
<h5>Hotel</h5>
@if (Model.Hotel != null)
{
    <table style="width:100%">
        <tr>
            <th>ID Hotel</th>
            <th>Nombre del Hotel</th>
            <th>Descripcion</th>
            <th>Cantidad de habitaciones disponibles</th>
            <th>Precio</th>
        </tr>

        <tr>
            <td>@Model.Hotel.Id_Hotel</td>
            <td>@Model.Hotel.Name</td>
            <td>@Model.Hotel.Description</td>
            <td>@Model.Hotel.NotReservedRooms</td>
            <td>@Model.Hotel.Price</td>
        </tr>

    </table>
}
else
{
    <p>No Posee un Hotel Asignado</p>
}

<br>
<h5>Evento</h5>
@if (Model.Event != null)
{<table style="width:100%">
     <tr>
         <th>ID Evento</th>
         <th>Nombre del Evento</th>
         <th>Descripcion</th>
         <th>Cantidad de tickets disponibles</th>
         <th>Precio</th>
     </tr>

     <tr>
         <td>@Model.Event.Id_Event</td>
         <td>@Model.Event.Name</td>
         <td>@Model.Event.Description</td>
         <td>@Model.Event.AvailableTickets</td>
         <td>@Model.Event.Price</td>
     </tr>

 </table>}
else
{
    <p>No Posee un Evento Asignado</p>
}

@if (ViewContext.Controller.IsSysAdmin())
{

    <br>
    <h5>Reservas</h5>
    if (Model.Reservations.Count() != 0)
    {
        <table style="width:100%">
            <tr>
                <th>ID Reservacion</th>
                <th>Pagado</th>
            </tr>

            @foreach (var item in Model.Reservations)
            {
                <tr>
                    <td>@item.Id_Reservation</td>
                    <td>@item.Paid</td>
                </tr>

            }

        </table>
    }
    else
    {
        <p>No se realizaron reservas de este paquete.</p>
    }

}

</div>


<br>