
@model FunTour.Models.TravelPackageViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "AddPlaces";
}



<div class="container">
    <h3>Lugares:</h3>

    <fieldset>
        <div id="FromCity">
        </div>
        <div>
            <legend><strong>Agregar Ciudad de Origen</strong></legend>

            @Html.HiddenFor(model => model.Id_TravelPackage)
            <fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
                                      border-width: thin; border-color: Silver; width: 740px">
                <div class="col-md-5">
                    @Html.DropDownList("FromCities", null, string.Empty, new { style = "display:initial" })

                </div>
            </fieldset>
        </div>
        <br />

        <div id="ToCity">
        </div>
        <div>

            <legend><strong>Agregar Ciudad de Destino</strong></legend>


            @Html.HiddenFor(model => model.Id_TravelPackage)
            <fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
                                      border-width: thin; border-color: Silver; width: 740px">

                @Html.DropDownList("ToCities", null, string.Empty, new { style = "display:initial" })


            </fieldset>

        </div>
        <br />


    </fieldset>


    <br/>
    <button class="waves-effect waves-light btn blue lighten-1" type="submit" onclick="AddCities()">Guardar y Continuar</button>
    <br/>
    @Html.ActionLink("Volver Atrás", "Create")
    <br/>
    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
</div>