@using FunTour.Models
@using FunTourDataLayer.Reservation
@model FunTour.Models.TravelPackageViewModel

@{
//Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Detalles del Paquete";
}

<div class="container">


    @Html.Partial("_TravelPackageDetails", Model)
    <p>

        @if (ViewContext.Controller.IsSysAdmin())
    {
        if (Model.Activate == false)
        {


            @Html.ActionLink("Activar", "Activate", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })



    }
    else
    {

        @Html.ActionLink("Desactivar", "Inactivate", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })

}
}
        <div class="row">
            @Html.ActionLink("Reservar Paquete Individual", "CreateReservation", "Reservation", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })
        </div>
        <div class="row">
            @Html.ActionLink("Volver a la lista", "Index", new { @class = "waves-effect waves-light btn blue lighten-1" })
        </div>
    </p>
</div>