@model IEnumerable<FunTourDataLayer.Reservation.TravelPackage>
@{
//Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Paquetes turísticos</h2>
    @if (ViewContext.Controller.IsSysAdmin())
    {
            
        <p>
            <button class="waves-effect waves-light btn blue lighten-1" onclick="location.href='@Url.Action("Create", "TravelPackages")'">Crear nuevo</button>
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToPlace)
            </th>
            
            @if (ViewContext.Controller.IsSysAdmin())
            {
            
                <th>
                    @Html.DisplayNameFor(model => model.Activate)
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
       
            if(ViewContext.Controller.IsSysAdmin())
             {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PackageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromPlace.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToPlace.Name)
            </td>
            <td>
                @Html.DisplayFor(modeltem => item.Activate)
            </td>
            <td>
                <a href="@Url.Action("Details", "TravelPackages", new { TravelPackageId = item.Id_TravelPackage })">
                    <i class="material-icons">info</i>

                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "TravelPackages", new { TravelPackageId = item.Id_TravelPackage })">
                    <i class="material-icons" type="button">
                        delete_forever
                    </i>
                </a>
            </td>
            @if (item.Activate == false)
            {

                <td>
                    @Html.ActionLink("Activar", "Activate", new { TravelPackageId = item.Id_TravelPackage }, new { id = item.Id_TravelPackage })

                </td>

            }
            else
            {
                <td>
                    @Html.ActionLink("Desactivar", "Inactivate", new { TravelPackageId = item.Id_TravelPackage }, new { id = item.Id_TravelPackage })

                </td>
            }


        </tr>
            }
            else
            {
                if (item.Activate == true)
                {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.PackageName)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.FromDay)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.ToDay)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.FromPlace.Name)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.ToPlace.Name)
                     </td>
                     <td>
                         <a href="@Url.Action("Details", "TravelPackages", new { TravelPackageId = item.Id_TravelPackage })">
                             <i class="material-icons">info</i>

                         </a>
                     </td>


                 </tr>
                }
            }

        }

    </table>
    
</div>
