@model FlightsAPI.Models.FilghtPlace

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilghtPlace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place_Owner_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Owner_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place_Owner_DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Owner_DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FP_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FP_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommercialFlight.Flight_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommercialFlight.Flight_To)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numPlace }) |
    @Html.ActionLink("Back to List", "Index")
</p>
