@model Hoteles.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sitioweb_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sitioweb_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalles_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalles_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ciudad_hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ciudad_hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cadena_Hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cadena_Hotel.IDCadena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estrellas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estrellas.IDEstrellas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.IDPais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDHotel">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
