@model IEnumerable<FlightsAPI.Models.ScalesOnFlight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommercialFlight.Flight_To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.nameAirport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialFlight.Flight_To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.nameAirport)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idScale }) |
            @Html.ActionLink("Details", "Details", new { id=item.idScale }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idScale })
        </td>
    </tr>
}

</table>
