@model IEnumerable<FlightsAPI.Models.CommercialFlight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible_Places)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.nameAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination1.nameAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plane.namePlane)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible_Places)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.nameAirport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination1.nameAirport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plane.namePlane)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFlight }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFlight }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFlight })
        </td>
    </tr>
}

</table>
