@model BusAPI.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.SeatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.TripID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.TripID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
