@model IEnumerable<BusAPI.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Seat
        </th>
        <th>
            Origin
        </th>
        <th>
            Destination
        </th>
        <th>
            Departure
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat.SeatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trip.OriginCity.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trip.DestinationCity.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trip.DateTimeTrip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
        </td>
    </tr>
}

</table>
