@model FunTour.Models.UserModel

<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='button']").button();
        $(":input[type='submit']").button();
    });
</script>
@using (Html.BeginForm("UserDetails", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>
            <h3>
                Detalles Del Usuario @Model.UserModelName:
            </h3>
        </legend>
        @Html.Partial("_userDetails", Model)
        <br />
        <input type="button" value="Edit" onclick="location.href='@Url.Action("UserEdit", "Admin", new { IdUser = Model.Id_UserModel })'" />
    </fieldset>

    <fieldset>
        <legend>
            <h5>
                Roles:
            </h5>
        </legend>
        <div class="panel" id="RolesTable">
            @Html.Partial("_ListUserRoleTable", Model)
        </div>
    </fieldset>
}
    <div>
        @Html.ActionLink("Volver a la lista", "Index", "Admin", new { @class = "waves-effect waves-light btn blue lighten-1" })
        
    </div>
