@model FunTour.Models.TravelPackageViewModel


<script type="text/javascript">
    $(document).ready(function () {
        $('AddBus').click(function () {
            var _toGoBusId = $('#BusesToGo').val();
            var _toBackBusId = $('#BusesToBack').val();
            var _packageId = $('#Id_TravelPackage').val();

            if (_toGoBusId == '' || _toBackBusId == '') {
                return false;
            }

            var _parameters = { ToGoBusId: _toGoBusId, ToBackBusId: _toBackBusId, TravelPackageId: _packageId };
            $.ajax({
                url: "/TravelPackages/AddBusToTravelPackagePartialView",
                type: "GET",
                data: _parameters,
                success:
                    //function (data, textStatus, jqXHR) {
                    //$('#PermissionsTable').html(data);
                    //$('#PermissionId').val("");
                //}
            });
        });
    });
</script>


<h1>Colectivo de Ida</h1>>
@Html.HiddenFor(model => model.Id_TravelPackage)
<fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
    border-width: thin; border-color: Silver; width: 740px">
    <table style="width:100%">
        <tr>
            <th>ID Colectivo</th>
            <th>Fecha de Salida</th>
            <th>Fecha de Llegada</th>
            <th>Cantidad de Asientos Libres</th>
            <th>Precio</th>
        </tr>
        @foreach (FunTourDataLayer.Models.Bus item in ViewBag.BusesToGoToShow)
        {

        <tr>
            <td>@item.IdAPI_Bus</td>
            <td>@item.DateTimeArrival</td>
            <td>@item.DateTimeDeparture</td>
            <td>@item.NotReservedSeats</td>
            <td>@item.Price</td>
        </tr>
        }
    </table>

    @if (Model.ToGoBus == null)
    {
        <legend><strong>Agregar Colectivo al Paquete para ir desde @Model.FromPlace.Name hasta @Model.ToPlace:</strong></legend>

    }
    else
    {
        <a href="#">
            El colectivo asociado en este momento al paquete es:
            @Model.ToGoBus.BusCompany.Name
            @Model.ToGoBus.IdAPI_Bus
        </a>
        <legend><strong>Cambiar Colectivo Asociado al Paquetepara ir desde @Model.FromPlace.Name hasta @Model.ToPlace:</strong></legend>
    }

    @Html.DropDownList("BusesToGo", null, string.Empty, new { style = "width:350px" })

    <h1>Colectivo de Vuelta</h1>>
    <table style="width:100%">
        <tr>
            <th>ID Colectivo</th>
            <th>Fecha de Salida</th>
            <th>Fecha de Llegada</th>
            <th>Cantidad de Asientos Libres</th>
            <th>Precio</th>
        </tr>
        @foreach (FunTourDataLayer.Models.Bus item in ViewBag.BusesToBackToShow)
        {

        <tr>
            <td>@item.IdAPI_Bus</td>
            <td>@item.DateTimeArrival</td>
            <td>@item.DateTimeDeparture</td>
            <td>@item.NotReservedSeats</td>
            <td>@item.Price</td>
        </tr>
        }
    </table>

    @if (Model.ToBackBus == null)
    {
        <legend><strong>Agregar Colectivo al Paquete para volver desde @Model.FromPlace.Name a @Model.ToPlace:</strong></legend>

    }
    else
    {
        <a href="#">
            El colectivo asociado en este momento al paquete es:
            @Model.ToBackBus.BusCompany.Name
            @Model.ToBackBus.IdAPI_Bus
        </a>
        <legend><strong>Cambiar Colectivo Asociado al Paquete para volver desde @Model.FromPlace.Name a @Model.ToPlace:</strong></legend>
    }

    @Html.DropDownList("BusesToBack", null, string.Empty, new { style = "width:350px" })


    <input type="button" id="AddBus" value="Agregar Colectivos" />
</fieldset>