@model FunTourDataLayer.Models.TravelPackage

@{
    ViewBag.Title = "AddServices";
}

<h2>AddServices</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TravelPackage</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_TravelPackage)

    <div class="form-group">
        @Html.LabelFor(model => model.PackageName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PackageName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PackageName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FromDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FromDay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FromDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ToDay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ToDay, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.FlightOrBus)
    {
        <legend>
            <h3>
                Vuelo:
            </h3>
        </legend>
        <div id="FlightCompany">
            <a>@Model.Flight.FlightCompany.Name</a>
            <br />
        </div>

        <div>
            @Html.Partial("_AddFlightToTravelPackagePartialView", Model)

        </div>
    }
    else
    {
        <legend>
            <h3>
                Colectivo:
            </h3>
        </legend>
        <div id="Hotel">
            @Model.Bus.BusCompany.Name
            <br />
        </div>
        <div>
            @Html.Partial("_AddBusToTravelPackagePartialView", Model)
        </div>
    }
        <fieldset>

            <legend>
                <h3>
                    Hotel:
                </h3>
            </legend>


            <div id="Hotel">
                @Model.Hotel.Name
                <br />
            </div>
            <div>
                @Html.Partial("_AddHotelToTravelPackage", Model)
            </div>
            <br />

            <legend>
                <h3>
                    Evento:
                </h3>
            </legend>
            <div id="Event">
                @Model.Event.Name
                <br />
            </div>
            <div>
                @Html.Partial("_AddEventToTravelPackage", Model)
            </div>

        </fieldset>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Volver al Menú", "Index")
</div>
