@model FunTour.Models.TravelPackageViewModel

@{
    ViewBag.Title = "AddServicesInPlace";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('AddServicesInPlaceReturn').click(function () {
            var _packageId = $('#Id_TravelPackage').val();

            var _parameters = { TravelPackageId: _packageId };
            $.ajax({
                url: "/TravelPackages/AddServicesInPlaceReturn",
                type: "GET",
                data: _parameters,
                success:
                    //function (data, textStatus, jqXHR) {
                    //$('#PermissionsTable').html(data);
                    //$('#PermissionId').val("");
                //}
            });
        });
    });
</script>

<h2>Agregar Servicios en @Model.ToPlace.Name:</h2>

<fieldset>
    <div>
        @Html.Partial("_AddHotelToTravelPackagePartialView", Model)
    </div>
    <br />

    <div>
        @Html.Partial("_AddEventToTravelPackagePartialView", Model)
    </div>

</fieldset>

<br />

@*<input type="button" id="AddServicesInPlaceReturn" value="Guardar y Continuar..." />*@
@Html.ActionLink("Guardar y Continuar", "AddServicesInPlaceReturn", new { TravelPackageId = Model.Id_TravelPackage }) |
@Html.ActionLink("Volver Atrás", "AddServicesToTravel", new { travelPackageViewModel = Model })

<div>
    @Html.ActionLink("Volver al Menú", "Index")
</div>
