@model FunTour.Models.TravelPackageViewModel

@{
    ViewBag.Title = "Crear Paquete Turístico";
}


@using (Html.BeginForm("Create", "TravelPackages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.PackageName, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PackageName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FromDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FromDay, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ToDay, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FlightOrBus, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.FlightOrBus, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Guardar y Continuar" />
        </div>
    </div>
}
@Html.ActionLink("Cancelar Creación", "CancelCreation", new { id = Model.Id_TravelPackage })
<div>
    @Html.ActionLink("Volver al Inicio...", "Index")
</div>
