@model FlightsAPI.Models.CommercialFlight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommercialFlight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible_Places)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible_Places)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.nameAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.nameAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination1.nameAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination1.nameAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plane.namePlane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.namePlane)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idFlight }) |
    @Html.ActionLink("Back to List", "Index")
</p>
