@model FlightsAPI.Models.FlightPersonal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlightPersonal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommercialFlight.Flight_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommercialFlight.Flight_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Employ_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Employ_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Personal_Rol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
