@model IEnumerable<FlightsAPI.Models.FlightPersonal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommercialFlight.Flight_To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Employ_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialFlight.Flight_To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Employ_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Personal_Rol }) |
            @Html.ActionLink("Details", "Details", new { id=item.Personal_Rol }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Personal_Rol })
        </td>
    </tr>
}

</table>
