@model IEnumerable<FunTourDataLayer.Models.RoleDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSysAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSysAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Role }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Role }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Role })
        </td>
    </tr>
}

</table>
