@{
    ViewData["Title"] = "Home Page";
}


<h1>Colectivo de Ida</h1>>
<fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
    border-width: thin; border-color: Silver; width: 740px">
    <table style="width:100%">
        <tr>
            <th>ID Colectivo</th>
            <th>Fecha de Salida</th>
            <th>Fecha de Llegada</th>
            <th>Cantidad de Asientos Libres</th>
            <th>Precio</th>
        </tr>
        @foreach (FunTourDataLayer.Models.Bus item in ViewBag.BusesToGoToShow)
        {

            <tr>
                <td>@item.IdAPI_Bus</td>
                <td>@item.DateTimeArrival</td>
                <td>@item.DateTimeDeparture</td>
                <td>@item.NotReservedSeats</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>


    <a>
        El colectivo asociado en este momento al paquete es:
        @*@Model.ToGoBus.BusCompany.Name
            @Model.ToGoBus.Id_Bus*@
    </a>
    @*<legend><strong>Cambiar Colectivo Asociado al Paquetepara ir desde @Model.FromPlace.Name hasta @Model.ToPlace:</strong></legend>*@

    <br />
    @Html.DropDownList("BusesToGo", null, string.Empty, new { style = "width:350px" })

    <h1>Colectivo de Vuelta</h1>>
    <table style="width:100%">
        <tr>
            <th>ID Colectivo</th>
            <th>Fecha de Salida</th>
            <th>Fecha de Llegada</th>
            <th>Cantidad de Asientos Libres</th>
            <th>Precio</th>
        </tr>
        @foreach (FunTourDataLayer.Models.Bus item in ViewBag.BusesToBackToShow)
        {

            <tr>
                <td>@item.IdAPI_Bus</td>
                <td>@item.DateTimeArrival</td>
                <td>@item.DateTimeDeparture</td>
                <td>@item.NotReservedSeats</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>


    <a>
        El colectivo asociado en este momento al paquete es:
        @*@Model.ToBackBus.BusCompany.Name
            @Model.ToBackBus.Id_Bus*@
    </a>
    @*<legend><strong>Cambiar Colectivo Asociado al Paquete para volver desde @Model.FromPlace.Name a @Model.ToPlace:</strong></legend>*@

    <br />
    @Html.DropDownList("BusesToBack", null, string.Empty, new { style = "width:350px" })


