@model IEnumerable<Events.Models.EventWithTicket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport.TransportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxTicket)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transport.TransportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxTicket)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventWithTicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventWithTicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventWithTicketID })
        </td>
    </tr>
}

</table>
